PORT=4020
NODE_ENV=development
MAX_UPLOAD_MB=20
AZURE_DOC_ENDPOINT=https://your-resource-name.cognitiveservices.azure.com/
AZURE_DOC_KEY=93eh6itjAblJRGDrbm2lS8mSjmz3C97i7Glw3jElReeBBYr2K2zbJQQJ99CBACGhslBXJ3w3AAALACOG83dh
